# Airflow DB
psycopg2-binary

pyspark==3.5.1

pandas
numpy
scikit-learn
pyarrow
fastapi
seaborn
matplotlib
pytest
passlib
dotenv
sqlalchemy
pyjwt
apache-airflow==2.8.1
# pip install "email-validator<2"